.title {
   font-weight: bold;
}

div.faceted-tagscloud-collection-widget a {
   margin-left: 0.5em;
}

/* remove padding-left for searches not in a category */
div.faceted-tagscloud-collection-widget li.no-category-tag a {
    margin-left: 0em;
}

.faceted-tag-selected {
   font-weight: bold;
}

/* grey tint label of a disabled input */
input:disabled+label {
   color: grey;
}